p {
    font-family: Calibri;
    font-size: 13.5pt;
    line-height: 1.37;
    text-align: justify;
}

li {
    font-family: Calibri;
    font-size: 13.5pt;
    line-height: 1.37;
    text-align: justify;
}