{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
4D BIM Attributes
{% endblock %}

{% block navbar %}
{{ nav.mynavbar.render(renderer='inverted') }}
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<div class="container">
    <br>
    <p align="middle" style="font-size: 22pt; text-align:center;">Attributes</p>
    <p style="font-style: italic; text-align: center;">Score rating offered for the 4D BIM software application attributes ability to present:</p>
    <p align="middle" style="font-size: 18pt; text-align:center; font-style: italic;">Time</p>
    <p style="font-size: 14pt; font-weight: bold; text-align: center;">Discreet event simulation</p>
    <li>site utilisation planning</li>
    <li>dynamic safety analysis of time dependent structure’s</li>
    <li>simulation framework to simulate dynamic changes of workflow</li>
    <li>interdependence between time, space and resources</li>
    <li>task based simulation scheduling </li>
    <li>conflicting status of workspace, to show time-space trade-off according to the schedule lead and lag times</li>
    <li>routes for emergency services</li>
    <br>
    <p style="font-size: 14pt; font-weight: bold; text-align: center;">Schedule vs actual (WIP)</p>
    <li>visualisation methods available to show delays</li>
    <li>graphical representations</li>
    <li>reliability and accuracy </li>
    <li>methods available to verify and validate </li>
    <li>measured productivity, sequential operation analysis, schedule lag and lead time prediction</li>
    <li>comparison of actual and expected status of work-in-progress and identify deviations in construction progress</li>
    <li>construction operation logic and investigation methods to show resource allocation among tasks</li>
    <br>
    <p style="font-size: 14pt; font-weight: bold; text-align: center;">Simulation</p>
    <li>project feasibility</li>
    <li>improved schedule reliability</li>
    <li>stage planning</li>
    <li>enhanced interrogation of construction sequences</li>
    <li>predict potential clash detection</li>
    <li>resource management</li>
    <li>multiple sub-contractor schedules</li>
    <br>
    <br>
    <p align="middle" style="font-size: 18pt; text-align:center; font-style: italic;">Cost</p>
    <p style="font-size: 14pt; font-weight: bold; text-align: center;">Animations</p>
    <li>investment analysis</li>
    <li>collaboration</li>
    <li>operation and maintenance strategy of the built asset for facility management (FM)</li>
    <li>integrate and consolidate information</li>
    <li>schedule based level of detail (LOD)</li>
    <li>work flow integration</li>
    <li>safety training</li>
    <br>
    <p style="font-size: 14pt; font-weight: bold; text-align: center;">Data control</p>
    <li>accurate data</li>
    <li>data definition structure</li>
    <li>key performance indicators (KPI)</li>
    <li>import and export compatibility</li>
    <li>intuitive information production</li>
    <li>identify data collection strategies</li>
    <li>identify change management strategies</li>
    <br>
    <p style="font-size: 14pt; font-weight: bold; text-align: center;">Quantity take-off</p>
    <li>schedule optimisation</li>
    <li>resource mapping</li>
    <li>information for the process simulation model</li>
    <li>rich product information</li>
    <li>reduced construction cost</li>
    <li>reliable quantity extraction</li>
    <li>Lean Project Management System (LPMS)</li>
    <br>
    <br>
    <p align="middle" style="font-size: 18pt; text-align:center; font-style: italic;">Quality</p>
    <p style="font-size: 14pt; font-weight: bold; text-align: center;">Clash detection</p>
    <li>dynamic collision detection of objects</li>
    <li>design alternatives</li>
    <li>switchback to authoring software</li>
    <li>accuracy and efficiency of clash detection</li>
    <li>clash-rule sets</li>
    <li>resource management</li>
    <li>lean construction methods</li>
    <br>
    <p style="font-size: 14pt; font-weight: bold; text-align: center;">Interoperability</p>
    <li>import/export capabilities</li>
    <li>dynamic collaborative working environment</li>
    <li>interoperability of software applications between multiple software vendors</li>
    <li>extract, update and modify data/information</li>
    <li>integrated and collaborative working environment</li>
    <li>enhanced work efficiency</li>
    <li>the creation of possible data exchange standards</li>
    <br>
    <p style="font-size: 14pt; font-weight: bold; text-align: center;">Quality control</p>
    <li>quality requirements</li>
    <li>WIP reports</li>
    <li>efficient information production</li>
    <li>product–organization–process (POP)</li>
    <li>reduced waste</li>
    <li>reliable operation and maintenance predictions</li>
    <li>dynamic schedule production</li>
    <br>
    <br>
    <br>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
{% endblock %}