{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
Explained
{% endblock %}

{% block navbar %}
{{ nav.mynavbar.render(renderer='inverted') }}
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<div class="container">
    <br>
    <p align="middle" style="font-size: 18pt; text-align: center; font-style: italic;">Construction management constraints</p>
    <div align="middle">
    <img src="{{ url_for('static', filename='img/exp1.png') }}" style="width: 100%; height: 100%;">
    </div>
    <br>
    <br>
    <p align="middle" style="font-size: 18pt; text-align: center; font-style: italic;">Example 4D BIM project</p>
    <div align="middle">
    <img src="{{ url_for('static', filename='img/exp2.png') }}" style="width: 100%; height: 100%;">
    </div>
    <br>
    <br>
    <p align="middle" style="font-size: 18pt; text-align: center; font-style: italic;">Attributes based on project constraints</p>
    <div align="middle">
    <img src="{{ url_for('static', filename='img/exp3.png') }}" style="width: 100%; height: 100%;">
    </div>
    <br>
    <div align="middle">
        <a class="btn btn-info" href="{{ url_for('static', filename='resource/Further Explanation of Decision Support System.xlsx') }}">Download documentation</a>
    </div>
    <br>
    <br>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
{% endblock %}