{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
4D BIM
{% endblock %}

{% block navbar %}
{{ nav.mynavbar.render(renderer='inverted') }}
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<body style="background: url('/static/img/back.jpg') no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
    <!--<img src="{{ url_for('static', filename='img/pic3.png') }}" style="position: absolute; top: 50%; left: 50%; width: 300pt; height: 200pt; margin-left: -180pt; margin-top: -140pt;"/>-->
<div style="position: fixed; bottom: 10px; right: 10px;">
    <!-- stuff -->
    <p style="font-style: italic; background: black; color: white; padding-left: 10px; padding-right: 10px; font-size: 20px">4D BIM Decision Support System</p>
</div>
</body>
{% endblock %}
{% block scripts %}
{{ super() }}
{% endblock %}